<div class="explore-movies-section">
    <div class="explore-movies-section-filter">
        <div class="row">
            <div class="input-group col-md-4">
                <input class="form-control py-2" type="search" value="search" placeholder="Search for movies, actor, genre..." name="search" [(ngModel)]="searchFor">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="onSearch()">
                        <fa name="fas fa-search"></fa>
                    </button>
                </span>
            </div>
            <div class="col-md-6">
                <div class="slidecontainer">
                    <input type="range" min="1" max="10" class="slider" id="myRange" [(ngModel)]="rangeSelected">
                    <p>Range: {{rangeSelected}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="explore-movies-section-result">
        <div class="explore-movies-section-result-label">result</div>
        <div class="explore-movies-section-result-details">
            <app-movie-card [movies]="movies" [rating]="rangeSelected"></app-movie-card>
        </div>
    </div>
</div>