  @import '../../shared/variables.scss';
  
  .explore-movies-container {
    width: 80%;
    margin: 5% 0 5% 10%;
  }

  .slider {
    width: 180px;
    &-container {
        margin: 0 0 15px 0;
    }
  }

  .search-button {
    height: 38px;
  }

  .result-heading {
    font-size: $font-size-category-heading;
  }

  .movie-card-container {
    width: 100%;
    overflow-x: auto;
}

.no-result-text{
  margin: 10% 0 0 40%;
}