@import '../../variables.scss';
#moview-app-menu {
    padding: 0;

    li {
        text-align: center;
        width: 200px;
        
        &.active {
            background-color: $menu-active;
        }
    }
}