<div class="card movie-card" *ngFor="let movie of movies | rangeFilter:rating; let i=index">
    <div class="card-body movie-card-body">
      <img src="https://dummyimage.com/225" />
    </div>
    <div class="card-footer movie-card-footer">
      <div class="d-flex">
        <div class="mr-auto">
          <h5>{{movie.original_title}}</h5>
        </div>
        <div class="">
          <fa name="far fa-heart"></fa>
        </div>
      </div>
      <div>Action, Adventure</div>
      <div class="d-flex movie-card-footer-rating">
        <div class="mr-auto">
          <fa name="far fa-star"></fa>
          <fa name="far fa-star"></fa>
          <fa name="far fa-star"></fa>
          <fa name="far fa-star"></fa>
          <fa name="far fa-star"></fa>
        </div>
        <div class=""><a href="#">Show more</a></div>
      </div>
    </div>
</div>