
<div class="d-flex">
  <div class="card movie-card" *ngFor="let movie of movies | rangeFilter:rating;">
    <div class="card-body movie-card-body">
      <img src="{{getImagePath(movie.poster_path)}}" />
    </div>
    <div class="card-footer movie-card-footer">
      <div class="d-flex">
        <div class="mr-auto movie-card-footer-title-text">
          {{movie.original_title}}
        </div>
        <div class="">
          <fa name="far fa-heart"></fa>
        </div>
      </div>
      <div>{{getGenreCategoty(movie.genre_ids)}}</div>
      <div class="d-flex movie-card-footer-rating">
        <div class="mr-auto">
          <fa name="far fa-star"></fa>
          <fa name="far fa-star"></fa>
          <fa name="far fa-star"></fa>
          <fa name="far fa-star"></fa>
          <fa name="far fa-star"></fa>
        </div>
        <div class=""><a href="#">Show more</a></div>
      </div>
    </div>
  </div>
</div>