@import '../../variables.scss';

.movie-card {
    min-width: 187px;
    min-height: 350px;
    margin-right: 10px;
    &-body {
        padding: 0;
        height: auto;
    }
    &-footer {
        height: 150px;
        &-title-text {
            font-size: $font-size-card-title;
        }
        &-rating {
            margin-top: 10px;
        }
    }
}