/* You can add global styles to this file, and also import other style files */

html {
    // Prevent horizontal scrollbars
    overflow-x: hidden;
}

body {
    //padding-top: 50px;
    background-color: #edebeb;
    margin: 0;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #4c4a4a;
}
