/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
html {
    // Prevent horizontal scrollbars
    overflow-x: hidden;
}

body {
    //padding-top: 50px;
    background-color: #edebeb;
    margin: 0;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #4c4a4a;
}
=======
@import 'app/shared/variables.scss';
>>>>>>> 882fd5e25d6cc08fc3d53c0dd1e537e56f59104c
